/illust.jpeg
*.pyc
/.settings
/temp
/videos
.spyderproject
venv
.DS_Store
examples/gridphysics/theorytest*
temp_data.npy
singularity/pyenv.simg
examples.*
theory_files/*
data_files
.Rdata
.Rhistory
Rplot*
all_games/ddemo*
all_games/tiny*
all_games/mini*
all_games/conservative*
all_games/deadsprite*
all_games/gas*
all_games/light*
all_games/med*
all_games/overload*
all_games/sample*
all_games/score_
all_games/small*
all_games/resource*
all_games/theory*
all_games_with_sprites/ddemo*
all_games_with_sprites/tiny*
all_games_with_sprites/mini*
all_games_with_sprites/conservative*
all_games_with_sprites/deadsprite*
all_games_with_sprites/gas*
all_games_with_sprites/light*
all_games_with_sprites/med*
all_games_with_sprites/overload*
all_games_with_sprites/sample*
all_games_with_sprites/small*
all_games_with_sprites/resource*
all_games_with_sprites/theory*

demo_data_files
images
interaction_plots
oryx
plots
raw_video_info
newset
vgdl/oryx
vgdl/sprites

