appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
certifi==2019.9.11
cloudpickle==1.2.2
decorator==4.4.1
dill==0.3.1.1
enum34==1.1.6
ipdb==0.12.2
ipython==5.8.0
ipython-genutils==0.2.0
line-profiler==2.1.2
numpy==1.16.5
pathlib2==2.3.5
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==1.0.18
ptyprocess==0.6.0
PyBrain==0.3
pygame==1.9.6
Pygments==2.4.2
pymongo==3.9.0
scandir==1.10.0
scipy==1.2.2
simplegeneric==0.8.1
six==1.13.0
termcolor==1.1.0
traitlets==4.3.3
wcwidth==0.1.7
